In [3]:
import pandas as pd
df = pd.read_csv("city_temperature_nous.csv")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349646 entries, 0 to 1349645
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Region          1349646 non-null  object
 1   Country         1349646 non-null  object
 2   State           0 non-null        float64
 3   City            1349646 non-null  object
 4   Month           1349646 non-null  int64
 5   Day             1349646 non-null  int64
 6   Year            1349646 non-null  int64
 7   AvgTemperature  1349646 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 82.4+ MB

In [26]:
df.describe()

       State         Month           Day          Year  AvgTemperature
count    0.0  1.349646e+06  1.349646e+06  1.349646e+06    1.349646e+06
mean     NaN  6.471035e+00  1.571777e+01  2.006283e+03    5.681690e+01
std      NaN  3.456861e+00  8.800809e+00  3.234046e+01    4.051672e+01
min      NaN  1.000000e+00  0.000000e+00  2.000000e+02   -9.900000e+01
25%      NaN  3.000000e+00  8.000000e+00  2.001000e+03    5.130000e+01
50%      NaN  6.000000e+00  1.600000e+01  2.007000e+03    6.740000e+01
75%      NaN  9.000000e+00  2.300000e+01  2.013000e+03    7.920000e+01
max      NaN  1.200000e+01  3.100000e+01  2.020000e+03    1.100000e+02

In [35]:
df = df.replace(to_replace = -99, value=56.8)

In [36]:
df.describe()

       State         Month           Day          Year  AvgTemperature
count    0.0  1.349646e+06  1.349646e+06  1.349646e+06    1.349646e+06
mean     NaN  6.471035e+00  1.571777e+01  2.006283e+03    6.503041e+01
std      NaN  3.456861e+00  8.800809e+00  3.234046e+01    1.715226e+01
min      NaN  1.000000e+00  0.000000e+00  2.000000e+02   -3.720000e+01
25%      NaN  3.000000e+00  8.000000e+00  2.001000e+03    5.540000e+01
50%      NaN  6.000000e+00  1.600000e+01  2.007000e+03    6.740000e+01
75%      NaN  9.000000e+00  2.300000e+01  2.013000e+03    7.920000e+01
max      NaN  1.200000e+01  3.100000e+01  2.020000e+03    1.100000e+02

In [37]:
df.iloc[df[['AvgTemperature']].idxmin()[0]]

Region                  Asia
Country             Mongolia
State                    NaN
City              Ulan-bator
Month                      1
Day                        8
Year                    2001
AvgTemperature         -37.2
Name: 424845, dtype: object

In [38]:
df.iloc[df[['AvgTemperature']].idxmax()[0]]

Region            Middle East
Country                Kuwait
State                     NaN
City                   Kuwait
Month                       8
Day                         1
Year                     2012
AvgTemperature            110
Name: 1034962, dtype: object

In [ ]:
df.isnull().sum()